body {
  text-align: center;
}

.calculator {
  border: solid;
  border-width: 0.05rem;
  border-color: gray;
  max-width: 400px;
}

.calc-button {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#calc-screen {
    margin-top: 10px;
    margin-bottom: 10px;
    resize: none;
    font-size: 1.25rem;
    text-align: right;
}
